PREFECT__CLOUD__API_KEY=CHANGEME
AWS_PROFILE=CHANGEME
AWS_DEFAULT_REGION=CHANGEME
DEPLOYMENT_ENVIRONMENT=CHANGEME
DBT_CLOUD_TOKEN=CHANGEME TO the User API Token from your developer account(https://cloud.getdbt.com/#/profile/api/)
DBT_CLOUD_ACCOUNT_ID=CHANGEME TO the Pocket account_id for DBT (open https://cloud.getdbt.com and copy the number in the url after /accounts/)
PREFECT_PROJECT_NAME=CHANGEME TO Prefect project name (optional: if you want to register flows from local environment)

SNOWFLAKE_PRIVATE_KEY=Decrypted Snowflake Private key obtained as described in the ReadMe.
SNOWFLAKE_USER=CHANGEME
SNOWFLAKE_ACCOUNT=CHANGEME
SNOWFLAKE_ROLE=CHANGEME (Optional: Should default to the Role set for the User)
SNOWFLAKE_WAREHOUSE=CHANGEME (Optional: Should default to the Warehouse set for the User)

GCE_KEY=CHANGEME To the gcp credentials json object
GCS_PATH=CHANGE to "[yourname]" as path where the export files are created in the GCS bucket

SNOWFLAKE_DEV_SCHEMA=CHANGE to your Snowflake dev schema under the "DEVELOPMENT" database
SNOWFLAKE_ANALYTICS_DBT_SCHEMA=DBT_<your user name>_STAGING

BRAZE_API_KEY=CHANGEME, see the Developer Console under Settings in Braze
BRAZE_REST_ENDPOINT=CHANGEME, see https://www.braze.com/docs/api/basics/


FIREHOSE_NAME=CHANGEME
SQS_REC_QUEUE=CHANGEME
SQS_PROSPECT_QUEUE=CHANGEME