[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = {extras = ["aws", "snowflake"], version = "*"}
pandas = "*"
fastparquet = "*"
pyarrow = "*"
s3fs = {version = "~=0.4.0", extras = ["boto3"]}
sagemaker = "*"

[dev-packages]

[requires]
python_version = "3.9"
